#capa {
    margin-top: 10px;
    width: 1800px;
    height: 200px;
    border-radius: 10px;
}

body {
    background-color: rgb(166, 166, 168);
    width: 1800px;
    margin: auto;
}

#titulo {
    font-family: 'Roboto', sans-serif;
    color: rgb(53, 52, 52);
    margin-left: 70px;
}

#titFormacao {
    font-family: 'Roboto', sans-serif;
    color: rgb(53, 52, 52);
    margin-left: 70px;
    font-size: 22px;
}

#listaFormacao {
    list-style-type: square;
    margin-left: 50px;
    color: rgb(29, 28, 28);
    font-family: 'Roboto', sans-serif;
}

.descricao {
    background-color: rgb(190, 189, 188);
    border-radius: 10px;
    padding: 5px;
    padding-left: 60px;
    padding-right: 60px;
}

#tituloSobre {
    font-family: 'Roboto', sans-serif;
    color: rgb(7, 7, 7);
    font-size: 15px;
}

#foto {
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}

#conteudoDescricao {
    font-family: 'Roboto', sans-serif;
    color: rgb(7, 7, 7);
    font-size: 15px;
}

#experiencias {
    font-family: 'Roboto', sans-serif;
    color: rgb(7, 7, 7);
    font-size: 15px;
}

#listaExperiencias {
    font-family: 'Roboto', sans-serif;
    color: rgb(7, 7, 7);
    font-size: 15px;
}

.rodape {
    margin-top: 30px;
    background-color: rgb(11, 11, 24);
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 136, 0);
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}

#textoRodape a {
    color: rgb(255, 136, 0);
}

#textoRodape {
    text-align: center;
}